<a href="https://colab.research.google.com/github/JAYAM27/ASSIGNMENT_1/blob/main/ASSIGNMENT_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
column_names= ['Class Name','Left-Weight','Left-Distance','Right-Weight','Right-Distance']

In [ ]:
df=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/balance-scale/balance-scale.data',names = column_names)

In [ ]:
df

    Class Name  Left-Weight  Left-Distance  Right-Weight  Right-Distance
0            B            1              1             1               1
1            R            1              1             1               2
2            R            1              1             1               3
3            R            1              1             1               4
4            R            1              1             1               5
..         ...          ...            ...           ...             ...
620          L            5              5             5               1
621          L            5              5             5               2
622          L            5              5             5               3
623          L            5              5             5               4
624          B            5              5             5               5

[625 rows x 5 columns]

In [ ]:
df.shape #Check the number of data points and features in the data.

(625, 5)

In [ ]:
df.isnull() #Check if there are missing values.

     Class Name  Left-Weight  Left-Distance  Right-Weight  Right-Distance
0         False        False          False         False           False
1         False        False          False         False           False
2         False        False          False         False           False
3         False        False          False         False           False
4         False        False          False         False           False
..          ...          ...            ...           ...             ...
620       False        False          False         False           False
621       False        False          False         False           False
622       False        False          False         False           False
623       False        False          False         False           False
624       False        False          False         False           False

[625 rows x 5 columns]

In [ ]:
df.isnull().sum() #Check if there are missing values.no values are missing

Class Name        0
Left-Weight       0
Left-Distance     0
Right-Weight      0
Right-Distance    0
dtype: int64

In [ ]:
df.describe() # Check basic statistics of data.

       Left-Weight  Left-Distance  Right-Weight  Right-Distance
count   625.000000     625.000000    625.000000      625.000000
mean      3.000000       3.000000      3.000000        3.000000
std       1.415346       1.415346      1.415346        1.415346
min       1.000000       1.000000      1.000000        1.000000
25%       2.000000       2.000000      2.000000        2.000000
50%       3.000000       3.000000      3.000000        3.000000
75%       4.000000       4.000000      4.000000        4.000000
max       5.000000       5.000000      5.000000        5.000000

In [ ]:
df['Left-Weight'].unique() # Find unique values for each column.

array([1, 2, 3, 4, 5])

In [ ]:
df['Left-Distance'].unique() # Find unique values for each column.

array([1, 2, 3, 4, 5])

In [ ]:
df['Right-Weight'].unique() # Find unique values for each column.

array([1, 2, 3, 4, 5])

In [ ]:
df['Right-Distance'].unique() # Find unique values for each column.

array([1, 2, 3, 4, 5])

In [ ]:
df.dtypes #Check the data types of values in each column.

Class Name        object
Left-Weight        int64
Left-Distance      int64
Right-Weight       int64
Right-Distance     int64
dtype: object

In [ ]:
#Add a new column in the data.
df['dummy']= 6
df

,Class Name,Left-Weight,Left-Distance,Right-Weight,Right-Distance,dummy
0,B,1,1,1,1,6
1,R,1,1,1,2,6
2,R,1,1,1,3,6
3,R,1,1,1,4,6
4,R,1,1,1,5,6
...,...,...,...,...,...,...
620,L,5,5,5,1,6
621,L,5,5,5,2,6
622,L,5,5,5,3,6
623,L,5,5,5,4,6
624,B,5,5,5,5,6

In [ ]:
#Then drop this column just created
df=df.drop('dummy', axis=1)
df

    Class Name  Left-Weight  Left-Distance  Right-Weight  Right-Distance
0            B            1              1             1               1
1            R            1              1             1               2
2            R            1              1             1               3
3            R            1              1             1               4
4            R            1              1             1               5
..         ...          ...            ...           ...             ...
620          L            5              5             5               1
621          L            5              5             5               2
622          L            5              5             5               3
623          L            5              5             5               4
624          B            5              5             5               5

[625 rows x 5 columns]

In [ ]:
#create a new column that has values found as a result of applying some operation on the existing columns
df['Total']=df.iloc[:,1:5].sum(axis=1)
df

,Class Name,Left-Weight,Left-Distance,Right-Weight,Right-Distance,Total
0,B,1,1,1,1,4
1,R,1,1,1,2,5
2,R,1,1,1,3,6
3,R,1,1,1,4,7
4,R,1,1,1,5,8
...,...,...,...,...,...,...
620,L,5,5,5,1,16
621,L,5,5,5,2,17
622,L,5,5,5,3,18
623,L,5,5,5,4,19
624,B,5,5,5,5,20

In [ ]:
df['Total_weight']=df.iloc[:,[1,3]].sum(axis=1)
df

,Class Name,Left-Weight,Left-Distance,Right-Weight,Right-Distance,Total,Total_weight
0,B,1,1,1,1,4,2
1,R,1,1,1,2,5,2
2,R,1,1,1,3,6,2
3,R,1,1,1,4,7,2
4,R,1,1,1,5,8,2
...,...,...,...,...,...,...,...
620,L,5,5,5,1,16,10
621,L,5,5,5,2,17,10
622,L,5,5,5,3,18,10
623,L,5,5,5,4,19,10
624,B,5,5,5,5,20,10

In [ ]:
#Access elements using loc and iloc.
a=df.iloc[:,1]
a

0      1
1      1
2      1
3      1
4      1
      ..
620    5
621    5
622    5
623    5
624    5
Name: Left-Weight, Length: 625, dtype: int64

In [ ]:
b=df.iloc[:,-2]
b

0       4
1       5
2       6
3       7
4       8
       ..
620    16
621    17
622    18
623    19
624    20
Name: Total, Length: 625, dtype: int64

In [ ]:
c=df.iloc[4,1]
c

1

In [ ]:
x=df.iloc[0]
x

Class Name        B
Left-Weight       1
Left-Distance     1
Right-Weight      1
Right-Distance    1
Total             4
Total_weight      2
Name: 0, dtype: object

In [ ]:
type(x)

pandas.core.series.Series

In [ ]:
y=df.iloc[0:3]
y

,Class Name,Left-Weight,Left-Distance,Right-Weight,Right-Distance,Total,Total_weight
0,B,1,1,1,1,4,2
1,R,1,1,1,2,5,2
2,R,1,1,1,3,6,2

In [ ]:
type(y)

pandas.core.frame.DataFrame